.row {
  margin-left: 20px;
}

.row_posters {
  display: flex;
  overflow-y: hidden !important;
  overflow-x: scroll !important;
  padding: 20px;
}

.row_posters ::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain !important;
  /* width: 100%; */
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}

/* hover effect */
.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  max-height: 250px !important;
}

/* hover effect */
.row_posterLarge:hover {
  transform: scale(1.09);
}
